@media (max-width: 960px) {
  .user-info {
    width: 60%;
    padding: 0.5rem 1rem;
  }

  .user-info__greetings {
    display: block;
  }

  .user-info__name {
    display: block;
    margin-right: 0;
  }

  .user-info__name.hidden {
    display: none;
  }

  .user-info__input {
    width: 60%;
    min-width: 12rem;
    margin-right: 0;
    padding-top: 0;
  }

  .todo-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .todo-list__form {
    grid-column: 1 / span 1;
  }

  .todo-list > div {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .language-select > li {
    margin-left: 0.5rem;
    padding: 0.5rem;
  }

  .language-select__ko::after,
  .language-select__en::after {
    display: none;
  }

  .user-info {
    width: 80%;
  }

  .user-info__input {
    min-width: 9rem;
  }

  .todo-list__form {
    padding: 1rem 0.5rem;
  }

  .todo-list__input {
    width: calc(100% - 5rem);
    min-width: 8rem;
    margin: auto;
  }

  .todo-list__todo {
    padding: 1rem;
  }

  .todo-list__subtitle {
    margin-bottom: 0.5rem;
  }
}
